<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
 
  <display-name>WEBAPP_TEMPLATE</display-name>

  <session-config> 
    <session-timeout>60</session-timeout><!-- measured in the Earth time-unit called minutes -->
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  
  <servlet>
    <servlet-name>cookieservlet</servlet-name>
    <servlet-class>com.example.cookietest.CookieServlet</servlet-class>
    <init-param>
      <param-name>someParam</param-name>
      <param-value>someValue</param-value>
    </init-param>  
    <load-on-startup>10</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cookieservlet</servlet-name>
    <url-pattern>/cookieservlet</url-pattern>
  </servlet-mapping>

</web-app>
